
<h2>Home</h2>

<p>Pick one below to edit, add a new blank one, or copy an existing one.</p>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Bulletins</h2>
	</div>
	<div class="panel-body">
		<div ng-show="d.length > 0">
			<div ng-repeat='bulletin in d'>
				<div class='row' ng-hide='bulletin.isAdding || bulletin.isDeleting'>
					<div class='col-sm-8'>{{bulletin.date | date:'fullDate' }}</div>
					<div class='col-sm-4 btn-group btn-group-sm'>
							<button class="btn btn-info" ng-click="copy($index)"><span class="glyphicon glyphicon-duplicate"></span></button>
							<button class="btn btn-info" ng-click="edit($index)"><span class="glyphicon glyphicon-pencil"></span></button>
							<button class="btn btn-danger" ng-click="beginDelete($index)"><span class="glyphicon glyphicon-trash"></span></button>
					</div>
				</div>
				
				<div class='row' ng-show='bulletin.isAdding'>
					<div class='col-sm-12'>
						Add New Here...
					</div>
				</div>
				
				<div class='row' ng-show='bulletin.isDeleting'>
					<div class='col-sm-12'>
						Warn delete here...
					</div>
				</div>
			</div>
			
			<!--
			<table class="table table-striped table-condensed">
				<tr ng-repeat-start="bulletin in d" ng-show="bulletin.status != 'new'">
					<td>{{bulletin.date | date:'fullDate' }}</td>
					<td>
						<div class="btn-group btn-group-sm pull-right">
							<button class="btn btn-info" ng-click="copy($index)"><span class="glyphicon glyphicon-duplicate"></span></button>
							<button class="btn btn-info" ng-click="edit($index)"><span class="glyphicon glyphicon-pencil"></span></button>
							<button class="btn btn-danger" ng-click="delete($index)"><span class="glyphicon glyphicon-trash"></span></button>
						</div>
					</td>
				</tr>
				
				<tr ng-repeat-end ng-show="bulletin.status == 'new'">
					<td style="max-width: 300px;">
						<div class="input-group">
							<input
								type="text"
								class="form-control"
								ng-model="bulletin.date"
								ng-required="true"
								datepicker-options="{ formatYear: 'yy', startingDay: 0 }"
								close-text="Close"
								is-open="opened"
								datepicker-popup="MM/dd/yyyy" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open($event)">
									<span class="glyphicon glyphicon-calendar"></span>
								</button>
							</span>
				        </div>
					</td>
					<td>
						<button class="btn btn-info" ng-click="save($index)"><span class="glyphicon glyphicon-floppy-disk"></span></button>
					</td>
				</tr>
			</table>-->
		</div>


		<div ng-hide="d.length > 0">
			You have no bulletins yet. Hit load above, or add new below to get started.
		</div>

		<br>
		<button class="btn btn-success" ng-click="beginAdd()">Add New</button>
	</div>
</div>

<!--
<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
			<input
				type="text"
				class="form-control"
				ng-model="dt"
				ng-required="true"
				datepicker-options="{ formatYear: 'yy', startingDay: 1 }"
				close-text="Close"
				is-open="opened"
				datepicker-popup="MM/dd/yyyy" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open($event)">
					<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
        </div>
    </div>
</div>
-->